/*SECCION INDEX*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Josefin+Sans:ital,wght@1,300&family=Roboto:wght@100;500&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh; /* Establece una altura mínima igual a la altura de la ventana del navegador */
    margin: 0; /* Elimina el margen por defecto del cuerpo */
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

/* Encabezado */
.header {
    padding: 5px 3px 10px 0px;
    text-align: center;
    text-shadow: 4px 4px 4px black;
    background-color: rgb(90, 22, 22);
    color: aliceblue;
    font-family: 'Castoro Titling';
    font-style: oblique;
    font-size: 20px;
}

/* Navegación */
.nav {
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 26);
    margin-bottom: 25px;
    padding: 0 25px; /* Añadido espacio interno a la navegación */
}

.nav-list {
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
    padding: 8px;
    width: 100%; /* Ocupar todo el ancho de la pantalla */
}

.nav-list li {
    flex-grow: 1; /* Los botones se expanden para ocupar el espacio disponible */
    display: flex;
    justify-content: center; /* Centrar contenido verticalmente */
}
.nav-list a {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
    text-decoration: none;
    background-color: rgb(90, 22, 22);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px; /* Añadido margen derecho para separar los botones */
}

/* Contenido principal */
.content {
    flex-grow: 1;
    background-color: rgb(15, 14, 46);
    background-image: url("../assets/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}


.image-container {
    display: flex;
    justify-content: center; /* Alinea las imágenes al centro horizontalmente */
    gap: 20px; /* Añade espacio entre las imágenes */
    margin-bottom: 20px; /* Añade espacio entre las imágenes y el video */
}

.image-container img {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    max-width: 400px; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Ajusta la altura automáticamente */
}

.video-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Añade espacio entre el video y la presentación */
}

.presentation {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 2px black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: blink;
    background-color: rgb(14, 30, 82);
    padding: 10px;
    margin: 20px 40px;
    border-radius: 10px;
}

/* Pie de página */
.footer {
    display: flex;
    justify-content: flex-end;
    color: aliceblue;
    padding: 10px;
    background: linear-gradient(to right, rgb(24, 24, 26), rgb(90, 22, 22));
}
/*FIN SECCION INDEX*/


