@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Josefin+Sans:ital,wght@1,300&family=Roboto:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

.header2 {
    padding: 5px 3px 10px 0px;
    text-align: center;
    text-shadow: 4px 4px 4px black;
    background-color: rgb(90, 22, 22);
    color: aliceblue;
    font-family: 'Castoro Titling';
    font-style: oblique;
    font-size: 20px;
}

.nav2 {
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 26);
    margin-bottom: 25px;
    padding: 0 15px;
}

.nav-list2 {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    width: 100%;
}

.nav-list2 li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-list2 a {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
    text-decoration: none;
    background-color: rgb(90, 22, 22);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
}

.content2 {
    flex-grow: 1;
    background-color: rgb(15, 14, 46);
    background-image: url("../assets/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

.filmografia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.imgfilmo img{

    width: 440px;
    height: 640px;
}

.overlay:hover {
    opacity: 0.5;
}

.boton {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(90, 22, 22);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.footerfilmo2 {
    font-family: 'Josefin Sans', sans-serif;
    max-width: 600px; /* Ajusta el ancho según tus preferencias */
    padding: 20px;
    text-align: justify;
    color: white;
    background-color: rgba(88, 85, 85, 0.7);
    position: absolute;
    top: 200px;
    left: 20px;
    column-count: 2; /* Número de columnas */
    column-gap: 20px; /* Espacio entre columnas */
}

.clearfix{
    clear:both;
    padding: 150px;
}



.footer2 {
    display: flex;
    justify-content: flex-end;
    color: aliceblue;
    padding: 10px;
    background: linear-gradient(to right, rgb(24, 24, 26), rgb(90, 22, 22));
}
.boton {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(90, 22, 22);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
.boton a{
    color: #fff;
    text-decoration: none;
}

.boton:hover  {
    background-color: rgba(90, 22, 22, 0.8);
}
